* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    margin: 100px auto;
    max-width: 800px;
    height: 250px;
    position: relative;
}

.container img {
    position: absolute;
    /* opacity: 0; */
    transition: opacity 1s;
    z-index: 1;
    width: 100%;
}

.container img.active {
    opacity: 1;
}

.slide-number {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    z-index: 2;
    border-radius: 6px;
}

.slider-controls{
    max-width: 800px;
    margin: auto;
}
.prev i , .next i{
    /* background-color: #009688; */
    color: #009688;;
    font-size: 40px;
    /* width: 80px; */
    text-align: center;
    cursor: pointer;
    border-radius: 4px;


}
